<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <section>
        <h2>Service Project Categories</h2>

        <p><a href="/new-category">Add a New Category</a></p>

        <% if (categories && categories.length > 0) { %>
            <ul>
                <% categories.forEach(category => { %>
                    <li>
                        <a href="/category/<%= category.category_id %>"><%= category.name %></a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No categories found at this time.</p>
        <% } %>
    </section>
</main>

<%- include('partials/footer') %>